#container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 1fr;
    grid-gap: 30px;
    width: 85%;
    margin: auto;
    font-size: 1rem;
  }
  #preview{
    background-color: #aac;
    box-shadow: 0 0 20px 8px black;
    padding: 40px;
  }
  #editorContainer{
    display:flex;
    justify-content: center;
    box-shadow: 0 0 20px 8px black;
  }
  #editor{
    width: 100%;
    padding: 40px;
    font-size: 1.2rem;
    font-family: serif;
    background-color: #ddd;
    min-height: 150px;
  }
  .titles{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
  }
  @media only screen and (max-width: 800px) {
    
    #editor-title {
      grid-column: 1/3;
    }
    #editorContainer {
      grid-column: 1/3;
      grid-row: 2/3;
      
    }
    #preview-title {
      grid-column: 1/3;
    }
    #preview {
      grid-column: 1/3;
      grid-row: 4/5;
    }
  }
  @media only screen and (max-width: 500px) {
    #container{
      width: 95%;
    }
  }